body{
    margin: 0;
    padding: 0;
}
.navbar {
    direction: rtl;
    width: 99.4%;
    height: 90px;
    background-color:white;
    color: white;
    position: sticky;
    top: 0;
    border: 2px solid rgba(189, 181, 181,0.8);
    box-shadow:rgba(166, 162, 65,1) 0 0 14px 4px;
}
a:hover{
    color:  orangered;
}
.logo{
    width: 70px;
    height: 60px;
    position: relative;
    left: -110px;
    top: 10px;
}
.link_nav{
    text-decoration: none;
    position: relative;
    top: -10px;
    display: inline-block;
    padding-right: 20px ;
    margin-top: 35px;
    color: #1b4a26;
    font-size: 20px;
}
.fasele_nav{
    margin-right: 130px;
}
.sabt_nam{
    position: relative;
    right: 1100px;
    top: -64px;
    width:13%;
    height: 45%;
    background-color: #a87914;
    border: 2px solid  #1b4a26;
    border-radius: 5px;
}
.sabt{
    text-align: center;
    position: relative;
    top: -18px;
    font-size: 25px;
    color: #1b4a26
}
.aks_eslider{
    width:99.4%;
    height: 450px;
    background-color: #a87914;
    border: 2px solid  #1b4a26;
  background-blend-mode:overlay ;
}
.aks_sli{
  width: 100%;
  height: 450px;
  opacity: 0.3;
}
.icon{
    width: 7%;
    height: 46%;
    background-color: #a87914;
    border: 2px solid  #1b4a26;
    position: relative;
    right: 1000px;
    top: -109px;
    border-radius: 5px;
}
.sabad{
    position: relative;
    top: 8px;
    left: -33px;
}
.icon_im{
    width: 50px;
}
.mat{
    font-size: 35px;
    text-align: right;
    margin-right: 65px;
    margin-top: 50px;
}
.mat_do{
    font-size: 35px;
    text-align: right;
    margin-right: 65px;
    margin-top: 100px;
}
.mat_se{
    text-align: right;
    font-size: 17px;
    margin-right: 65px;
    margin-top: -30px;
}
.box{
    display: inline-block;
    width: 300px;
    height: 150px;
    background-color: #fcfcfc;
    border: 2px solid rgba(189, 181, 181,0.1);
    border-radius: 7px;
    box-shadow: 0px 0px 7px 0px;
}
.box_yek{
    padding-left: 15px;
}
.box_dovom{
    padding-right: 15px;
}
.mat_box{
    text-align:right;
    font-size:25px;
    padding-right: 15px;
    margin-top: 40px;
    color: rgba(38, 37, 37,0.8);
}
.box_asli{
    width: 99.4%;
    height: 180px;
    border: 2px solid rgba(189, 181, 181,0.8);
    border-radius: 10px;
    box-shadow:rgba(166, 162, 65,1) 0 0 14px 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
    align-content: flex-start;
}
.mat_box_av{
    font-size:22px;
    text-align:right;
    padding-right: 15px;
    margin-top: -22px;
    color: rgba(38, 37, 37,0.7);
}
.kadr_asli{
    width: 99.4%;
    height:330px;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
    align-content: flex-start;
}
.kadr_aval{
    border-radius: 10px;
    width: 270px;
   border: 2px solid rgba(189, 181, 181,0.8);
    height: 300px;
}
.kadr_do{
    border-radius: 10px;
    width: 270px;
   border: 2px solid rgba(189, 181, 181,0.8);
    height: 300px;
}
.kadr_se{
    border-radius: 10px;
    width: 270px;
    border: 2px solid rgba(189, 181, 181,0.8);
    height: 300px;
}
.kadr_char{
    border-top-left-radius: 10px;
    border-top-right-radius:10px ;
    border-radius: 10px;
    width: 270px;
   border: 2px solid rgba(189, 181, 181,0.8);
    height: 300px;
}
.avali{
    border-top-left-radius: 10px;
    border-top-right-radius:10px ;
    width: 270px;
    height: 150px;
    background:linear-gradient(40deg ,rgb(15, 77, 74),rgb(31, 120, 116),rgb(44, 245, 238),rgb( 197, 232, 230) ) ;
}
.dovomi{
     width: 270px;
     border-top-left-radius: 10px;
     border-top-right-radius:10px ;
     height: 150px;
     background:linear-gradient(40deg ,rgb(107, 104, 5),rgb(158, 154, 21),rgb(245, 238, 24)  ) ;
}
.sevomi{
     width: 270px;
     height: 150px;
     border-top-left-radius: 10px;
     border-top-right-radius:10px ;
     background:linear-gradient(40deg ,rgb(56, 4, 87),rgb(89, 8, 138),rgb(161, 40, 235),rgb( 201, 130, 245) ) ;
}
.chaharomi{
    width: 270px;
    height: 150px;
    border-top-left-radius: 10px;
     border-top-right-radius:10px ;
    background:linear-gradient(40deg ,rgb(5, 45, 102),rgb(7, 65, 148),rgb(57, 124, 219),rgb(125, 174, 245) ) ;
}
.amo{
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    top: 100px;
    font-size: 25px;
}
.tozih{
    text-align: right;
    padding-right: 5px;
}
.esm{
    padding: 10px;
    position: relative;
    top: 3px;
    color: rgba(15, 15, 15,0.7);
}
.navar{
    width: 270px;
    height: 50px;
    border: 2px solid rgba(189, 181, 181,0.8);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
    top: -30px;
    left: -2px;
}
.tech{
    width: 30px;
    height:20px;
    position: relative;
    left: 80px;
    top: -40px;
}
.tedad{
    position: relative;
    top: -35px;
    left: 170px;

}
.ted{
    width: 30px;
    height:25px;
    position: relative;
    left: 200px;
    top: -74px;
}
.foter{
    margin-top: 100px;
    width: 99.4%;
    height: 270px;
    background-color: rgb(39, 39, 46);
}
.fot{
    text-align: right;
    padding-right: 15px;
    padding-top: 50px;
    color: whitesmoke;
    font-size:20px;
}
span{
    color: orangered;
}
.mat_fot{
    text-align: right;
    padding-right: 15px;
    color: whitesmoke;
    font-size:20px;
}
.foter_down{
    margin-top: 85px;
    position: relative;
    top: -130px;
    width: 100%;
    height: 80px;
    background-color: rgb(23, 23, 28);
}
.zarin{
    width: 95px;
    height: 125px;
    position: relative;
    top: -120px;
    left: 50px;
}
.ganon{
    color: white;
    text-align: right;
    position: relative;
    top: 30px;
    left: -20px;
}
.telegram{
    padding-left: 25px;
    width: 40px;
    height:30px; 
}
.youtube {
    padding-left: 15px;
    width: 40px;
    height:30px; 
}
.instagram{
    padding-left: 15px;
    width: 40px;
    height:30px;
}
/*-------------------------------------------------------------------*/
.navar_safhe_do{
    width: 99.4;
    height: 160px;
    background-color:rgba(18, 14, 13,0.9);
}
.foroshgah{
    padding: 0;
    margin: 0;
    color: white;
    text-align: right;
    font-size: 30px;
    position: relative;
    top: 50px;
    left: -40px;
}
.mat_down{
    text-align: right;
    color: white;
    position: relative;
    top: 50px;
    left: -27px;
    font-size: 15px
}
.filter{
    width: 52%;
    height: 80px;
    border: 2px solid rgba(189, 181, 181,0.8);
    border-radius: 5px;
    box-shadow:rgba(166, 162, 65,1) 0 0 14px 4px;
    margin-left: 147px;
    margin-top: 50px;
}
.micro{
    width: 50px;
    height: 50px;
    padding: 15px;
    position: relative;
    left: 620px;
}
.lay{
    width: 50px;
    height: 50px;
    padding: 15px;
    position: relative;
    left: 470px;
}
.serch{
    position: relative;
    top: -35px;
    left: -140px;
    width: 200px;
    height: 40px;
    direction: rtl;
    border: 2px solid rgba(189, 181, 181,0.8);
}
.icon_search{
    position: relative;
    top: -20px;
    left: -345px;
    width:50px ;
    height: 35px;
}
.navar_asli{
    margin-top: 20px;
    margin-left: 150px;
    width: 900px;
    height:300px;
    border: 2px solid rgba(189, 181, 181,0.8);
    border-radius: 5px;
    box-shadow:rgba(166, 162, 65,1) 0 0 14px 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: flex-start;
    flex-wrap: nowrap;
    align-content: flex-start;
}
.navar_aval{
    border-radius: 10px;
    width: 200px;
    border: 2px solid rgba(189, 181, 181,0.8);
    height: 250px;
}
.navar_do{
    border-radius: 10px;
    width: 200px;
    border: 2px solid rgba(189, 181, 181,0.8);
    height: 250px;
}
.navar_se{
    border-radius: 10px;
    width: 200px;
    border: 2px solid rgba(189, 181, 181,0.8);
    height: 250px;
}
.navar_avali{
    border-top-left-radius: 10px;
    border-top-right-radius:10px ;
    width: 200px;
    height: 100px;
    position: relative;
    background:linear-gradient(40deg ,rgb(15, 77, 74),rgb(31, 120, 116),rgb(44, 245, 238),rgb( 197, 232, 230) ) ;
}
.navar_dovomi{
    border-top-left-radius: 10px;
    border-top-right-radius:10px ;
    width: 200px;
    height: 100px;
    position: relative;
    background:linear-gradient(40deg ,rgb(15, 77, 74),rgb(31, 120, 116),rgb(44, 245, 238),rgb( 197, 232, 230) ) ;
}
.navar_sevomi{
    border-top-left-radius: 10px;
    border-top-right-radius:10px ;
    width: 200px;
    height: 100px;
    position: relative;
    background:linear-gradient(40deg ,rgb(15, 77, 74),rgb(31, 120, 116),rgb(44, 245, 238),rgb( 197, 232, 230) ) ;
}
.navar_amo{
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    top: 70px;
    font-size: 20px;
}
.navar_tozih{
    text-align: right;
    padding-right: 5px;
}
.navar_esm{
    padding: 10px;
    position: relative;
    top: 3px;
    color: rgba(15, 15, 15,0.7);
}
.navar_navar{
    width: 200px;
    height: 40px;
    border: 2px solid rgba(189, 181, 181,0.8);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
    top: -37.2px;
    left: -2px;
}
.navar_tech{
    width: 30px;
    height:20px;
    position: relative;
    left: 80px;
    top: -40px;
}
.navar_tedad{
    position: relative;
    top: -35px;
    left: 130px;

}
.navar_ted{
    width: 30px;
    height:25px;
    position: relative;
    left: 160px;
    top: -77px;
}